/* Created by: Emma Janani
* Created on: Mar 2022
* This CSS file defines the style for index.html
* ICS2O-Unit2-01-HTML-JS-HelloWorld
*/

body {
	background-color: #ade7ff;
}

h1 {
	background-color: #096d96;
	color: white;
	padding: 40px;
	text-align: center;
}

div {
  font-weight: bold;
  color: #245947;
  margin: 5px;
}

#display-results{
  background-color: #c2ffea;
}
